@media (min-width: 689px) {
	.header {
		display: flex;
		justify-content: space-around;
	}
	.header li {
		float: left;
	}
	.header li a {
		padding: 20px 30px;
	}
	.header .menu {
		clear:none;
		float: right;
		display: none;
	}
	.oriz-container {
		display: none;
	}
	.menu-icon {
		display: none;
	}

}/*****************************/

@media (max-width:689px) {
	.header .box-container  {
		display:none;
	}
	.menu-desk {
		display: none;
	}
}

